# Entornos virtuales
/venv/
/.venv/
/env/
/.env/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de audio temporales (como el que generas)
temp_audio.wav

# Archivos del sistema operativo
.DS_Store
Thumbs.db
